<%- include("partials/header"); -%>

<br>
<h1>TwitchConnect</h1>

<div class="preview">
   Feed prev
   <br>
   <a href="/login"><button type="button" class="btn btn-dark colab">Login</button></a>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Gründe deine Community
    </div>
    <div class="col-sm">
      Lasse deinen Stream wachsen
    </div>
    <div class="col-sm">
      Finde Streamerbuddies
    </div>
  </div>
</div>

<a href="/posts"><button type="button" class="btn btn-dark colab">Start Colaborating</button></a>

<%- include("partials/footer"); -%> 