body {
	background-color: #6441a5;
	margin: auto;
	text-align: center;
}

.login-btn {
	background-color: #6441a5;
	font-weight: bold;
	font-size: small;
}

.feed {
	position: relative;
	text-align: left;
	margin: 20px 200px;
	padding: 5px 10px;
	border: 5px solid #2e2e2e;
	border-radius: 20px;
	background-color: #9b9b9b;
}
.preview {
	text-align: center;
	margin: 3rem auto;
	height: 20rem;
	width: 70rem;
	background-color: teal;
}

.colab {
	margin-top: 40px;
}

.footer {
	position: absolute;
	text-align: center;
	padding: 20px;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #9b80ce;
}